<div class="overflow-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th
          scope="col"
          sortable="name"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by name"
          container="body"
        >
          Name
        </th>
        <th
          scope="col"
          sortable="ticker"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by ticker"
          container="body"
        >
          Ticker
        </th>
        <th
          scope="col"
          sortable="sector"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by sector"
          container="body"
        >
          Sector
        </th>
        <th
          scope="col"
          sortable="industry"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by industry"
          container="body"
        >
          Industry
        </th>
        <th scope="col">Tags</th>
        <th scope="col">Period</th>
        <th scope="col">Prev. high</th>
        <th
          *ngFor="let column of dataEntryColumns"
          scope="col"
          placement="top"
          ngbTooltip="Click here to hide that column"
          container="body"
          class="sortable"
          [class.d-none]="!column.visible || hideMAColumns"
          [innerHTML]="column.name"
          (click)="column.visible = !column.visible"
        ></th>
        <th scope="col">Lowest</th>
        <th scope="col">+6M Price</th>
        <th scope="col">+2Y Price</th>
        <th scope="col" *ngFor="let column of rulesetColumns">
          {{ column.ruleset.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let stock of sortedStocks">
        <tr
          *ngFor="
            let anlzdPeriod of stock.analyzedPeriods;
            let periodIndex = index
          "
        >
          <th scope="row">
            <span *ngIf="periodIndex === 0"
              ><a class="btn btn-danger" (click)="removeStock(stock)">🗑</a
              ><a
                class="btn btn-secondary"
                (click)="updatePeriod(anlzdPeriod, stock)"
                >📡</a
              ></span
            ><a class="btn btn-dark" (click)="removePeriod(anlzdPeriod, stock)"
              >-</a
            >
          </th>
          <td [class.faded]="periodIndex !== 0">
            {{ stock.name }}
          </td>
          <td [class.faded]="periodIndex !== 0">
            {{ stock.ticker }}
          </td>
          <td [class.faded]="periodIndex !== 0">
            {{ enumToString(stock.sector) }}
          </td>
          <td [class.faded]="periodIndex !== 0">
            {{ enumToString(stock.industry) }}
          </td>
          <td [class.faded]="periodIndex !== 0">
            <span *ngFor="let tag of stock.tags; let tagN = index">{{
              tagN > 0 ? ", " + tag : tag
            }}</span>
          </td>
          <td
            [class.not-filled]="
              anlzdPeriod.previousHigh === undefined ||
              anlzdPeriod.previousHigh === null ||
              anlzdPeriod.previousHigh <= 0
            "
          >
            {{ anlzdPeriod.period.name }}
          </td>
          <td>{{ formatToTwoDigits(anlzdPeriod.previousHigh) }}</td>
          <td
            *ngFor="let column of dataEntryColumns"
            [class.d-none]="!column.visible || hideMAColumns"
            [innerHTML]="getCrossing(column.index, column.type, anlzdPeriod)"
          ></td>
          <td>{{ formatToTwoDigits(anlzdPeriod.lowest) }}</td>
          <td>{{ formatToTwoDigits(anlzdPeriod.priceSixMonths) }}</td>
          <td>{{ formatToTwoDigits(anlzdPeriod.priceTwoYears) }}</td>
          <td
            *ngFor="let column of rulesetColumns"
            class="results"
            [innerHTML]="getAnalysisResults(stock, anlzdPeriod, column.ruleset)"
          ></td>
        </tr>
        <tr>
          <th scope="row">
            <span
              *ngIf="!stock.analyzedPeriods || stock.analyzedPeriods.length < 1"
              ><a class="btn btn-danger" (click)="removeStock(stock)">🗑</a
              ><a class="btn btn-dark" (click)="addPeriod(stock)">+</a></span
            >
            <span
              *ngIf="
                !!stock.analyzedPeriods && stock.analyzedPeriods.length > 0
              "
              ><a class="btn btn-dark" (click)="addPeriod(stock)">+</a></span
            >
          </th>
          <td
            [class.faded]="
              !!stock.analyzedPeriods && stock.analyzedPeriods.length > 0
            "
          >
            {{ stock.name }}
          </td>
          <td
            [class.faded]="
              !!stock.analyzedPeriods && stock.analyzedPeriods.length > 0
            "
          >
            {{ stock.ticker }}
          </td>
          <td
            [class.faded]="
              !!stock.analyzedPeriods && stock.analyzedPeriods.length > 0
            "
          >
            {{ enumToString(stock.sector) }}
          </td>
          <td
            [class.faded]="
              !!stock.analyzedPeriods && stock.analyzedPeriods.length > 0
            "
          >
            {{ enumToString(stock.industry) }}
          </td>
          <td
            [class.faded]="
              !!stock.analyzedPeriods && stock.analyzedPeriods.length > 0
            "
          >
            <span *ngFor="let tag of stock.tags; let tagN = index">{{
              tagN > 0 ? ", " + tag : tag
            }}</span>
          </td>
          <td>
            <select
              class="form-control"
              (change)="selectCurrentPeriod(stock, $event)"
            >
              <option value="" disabled>Choose a period</option>
              <option value="all" [disabled]="getPeriods(stock).length < 2">
                Add all
              </option>
              <option
                *ngFor="let period of getPeriods(stock)"
                [value]="period.name"
              >
                {{ period.name }}
              </option>
            </select>
          </td>
          <td></td>
          <td
            *ngFor="let column of dataEntryColumns"
            [class.d-none]="!column.visible || hideMAColumns"
          ></td>
          <td></td>
          <td></td>
          <td></td>
          <td *ngFor="let column of rulesetColumns" class="results"></td>
        </tr>
      </ng-container>
      <tr>
        <th scope="row">
          <a class="btn btn-primary" (click)="addStock()">+</a>
        </th>
        <td>
          <span class="form-group" style="display: inline-block">
            <input
              id="stockname"
              name="stockname"
              style="display: inline-block"
              type="text"
              placeholder="Stock name"
              class="form-control input-md"
              [value]="newStock.name"
              (keyup)="updateCurrentName($event)"
            />
          </span>
        </td>
        <td>
          <span class="form-group">
            <input
              id="stockticker"
              name="stockticker"
              type="text"
              placeholder="Stock ticker"
              class="form-control input-md"
              [value]="newStock.ticker"
              (keyup)="updateCurrentTicker($event)"
            />
          </span>
        </td>
        <td>
          <select class="form-control" (change)="selectCurrentSector($event)">
            <option value="" disabled>Choose a sector</option>
            <option *ngFor="let sector of getSectors()" [value]="sector">
              {{ enumToString(sector) }}
            </option>
          </select>
        </td>
        <td>
          <select class="form-control" (change)="selectCurrentIndustry($event)">
            <option value="" disabled>Choose an industry</option>
            <option *ngFor="let industry of getIndustries()" [value]="industry">
              {{ enumToString(industry) }}
            </option>
          </select>
        </td>
        <td>
          <input
            id="currenttag"
            type="text"
            placeholder="Tag"
            class="col-10 form-control"
            [value]="currentTag"
            (keyup)="updateCurrentTag($event)"
          />
          <div class="col-2 pl-1">
            <a class="btn btn-info" (click)="addTag()">+</a>
          </div>

          <shared-closable-tag
            class="col-12 py-3"
            [tags]="toTags()"
            (change)="updateTags($event)"
          ></shared-closable-tag>
        </td>
        <td></td>
        <td></td>
        <td
          *ngFor="let column of dataEntryColumns"
          [class.d-none]="!column.visible || hideMAColumns"
        ></td>
        <td></td>
        <td></td>
        <td></td>
        <td *ngFor="let column of rulesetColumns" class="results"></td>
      </tr>
    </tbody>
  </table>
</div>
