<div class="overflow-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th
          scope="col"
          sortable="name"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by name"
          container="body"
        >
          Name
        </th>
        <th
          scope="col"
          sortable="sector"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by sector"
          container="body"
        >
          Sector
        </th>
        <th
          scope="col"
          sortable="industry"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by industry"
          container="body"
        >
          Industry
        </th>
        <th scope="col">Tags</th>
        <th scope="col">Period</th>
        <th scope="col">Prev. high</th>
        <th
          *ngFor="let column of dataEntryColumns"
          scope="col"
          placement="top"
          ngbTooltip="Click here to hide that column"
          container="body"
          class="sortable"
          [class.d-none]="!column.visible || hideMAColumns"
          [innerHTML]="column.name"
          (click)="column.visible = !column.visible"
        ></th>
        <th scope="col">Lowest</th>
        <th scope="col">+6M Price</th>
        <th scope="col">+2Y Price</th>
        <th scope="col" *ngFor="let column of rulesetColumns">
          {{ column.ruleset.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let stock of sortedStocks">
        <tr
          *ngFor="
            let anlzdPeriod of stock.analyzedPeriods;
            let periodIndex = index
          "
        >
          <th scope="row" [class.faded]="periodIndex !== 0">
            {{ stock.name }}
          </th>
          <td [class.faded]="periodIndex !== 0">
            {{ enumToString(stock.sector) }}
          </td>
          <td [class.faded]="periodIndex !== 0">
            {{ enumToString(stock.industry) }}
          </td>
          <td [class.faded]="periodIndex !== 0">
            <span *ngFor="let tag of stock.tags; let tagN = index">{{
              tagN > 0 ? ", " + tag : tag
            }}</span>
          </td>
          <td>{{ anlzdPeriod.period.name }}</td>
          <td>{{ formatToTwoDigits(anlzdPeriod.previousHigh) }}</td>
          <td
            *ngFor="let column of dataEntryColumns"
            [class.d-none]="!column.visible || hideMAColumns"
            [innerHTML]="getCrossing(column.index, column.type, anlzdPeriod)"
          ></td>
          <td>{{ formatToTwoDigits(anlzdPeriod.lowest) }}</td>
          <td>{{ formatToTwoDigits(anlzdPeriod.priceSixMonths) }}</td>
          <td>{{ formatToTwoDigits(anlzdPeriod.priceTwoYears) }}</td>
          <td
            *ngFor="let column of rulesetColumns"
            class="results"
            [innerHTML]="getAnalysisResults(stock, anlzdPeriod, column.ruleset)"
          ></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
