<div class="overflow-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th
          scope="col"
          sortable="name"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by name"
          container="body"
        >
          Name
        </th>
        <th
          scope="col"
          sortable="ticker"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by ticker"
          container="body"
        >
          Ticker
        </th>
        <th
          scope="col"
          sortable="sector"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by stocks GICS sector"
          container="body"
        >
          Sector
        </th>
        <th
          scope="col"
          sortable="industry"
          (sort)="onSort($event)"
          placement="top"
          ngbTooltip="Click here to sort by stocks GICS industry"
          container="body"
        >
          Industry
        </th>
        <th
          scope="col"
          placement="top"
          ngbTooltip="User defined tags for the stocks"
          container="body"
        >
          Tags
        </th>
        <th
          scope="col"
          placement="top"
          ngbTooltip="The name of the analyzed period"
          container="body"
        >
          Period
        </th>
        <th
          scope="col"
          placement="bottom"
          ngbTooltip="The price at which the stock traded just before the beggining of this period (smoothed using a 5 days moving average)"
          container="body"
        >
          Price before
        </th>
        <ng-container *ngIf="!hideMAColumns">
          <th
            *ngFor="let column of dataEntryColumns"
            scope="col"
            placement="top"
            ngbTooltip="Click here to hide that column"
            container="body"
            class="sortable"
            [class.d-none]="!column.visible || hideMAColumns"
            [innerHTML]="column.name"
            (click)="column.visible = !column.visible"
          ></th
        ></ng-container>
        <th
          scope="col"
          placement="bottom"
          ngbTooltip="The lowest closing price for that period, followed by the percentage of loss from the 'Price before'"
          container="body"
        >
          Lowest
        </th>
        <th
          scope="col"
          placement="bottom"
          ngbTooltip="The price the stock reached 6 calendar months after the last day of the period (smoothed using a 5 days moving average), followed by the percentage of growth from the 'Price before'"
          container="body"
        >
          +6M Price
        </th>
        <th
          scope="col"
          placement="bottom"
          ngbTooltip="The price the stock reached 2 calendar years after the last day of the period (smoothed using a 5 days moving average), followed by the percentage of loss from the 'Price before'"
          container="body"
        >
          +2Y Price
        </th>
        <th
          scope="col"
          placement="bottom"
          ngbTooltip="The growth percentage of the stock between the start and the end of the period (smoothed using a 5 days moving average)"
          container="body"
        >
          Period growth
        </th>
        <th
          scope="col"
          placement="bottom"
          ngbTooltip="The result of the period analysis using the ruleset {{
            column.ruleset.name
          }} - are displayed the growth factor between the cost average of the simulated entry and the '+2Y Price', the cost average of the simulated entry, and the percentage of allocated capital used"
          container="body"
          *ngFor="let column of rulesetColumns"
        >
          {{ column.ruleset.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let stock of sortedStocks">
        <tr>
          <th scope="row">
            <a class="btn btn-danger" (click)="removeStock(stock)">🗑</a
            ><a class="btn btn-dark" (click)="addPeriod(stock)">+</a>
          </th>
          <td>
            {{ stock.name }}
          </td>
          <td>
            {{ stock.ticker }}
          </td>
          <td>
            {{ enumToString(stock.sector) }}
          </td>
          <td>
            {{ enumToString(stock.industry) }}
          </td>
          <td>
            <span *ngFor="let tag of stock.tags; let tagN = index">{{
              tagN > 0 ? ", " + tag : tag
            }}</span>
          </td>
          <td>
            <select
              class="form-control"
              (change)="selectCurrentPeriod(stock, $event)"
            >
              <option value="" disabled>Choose a period</option>
              <option
                *ngFor="let period of getPeriods(stock)"
                [value]="period.name"
              >
                {{ period.name }}
              </option>
              <option value="all" [disabled]="getPeriods(stock).length < 2">
                Add all
              </option>
            </select>
          </td>
          <td></td>
          <ng-container *ngIf="!hideMAColumns">
            <td
              *ngFor="let column of dataEntryColumns"
              [class.d-none]="!column.visible"
            ></td
          ></ng-container>
          <td></td>
          <td></td>
          <td></td>
          <td
            class="global-results"
            [innerHTML]="getGrowthWithClass(stock)"
          ></td>
          <td
            *ngFor="let column of rulesetColumns"
            class="global-results"
            [innerHTML]="getAnalysisResults(stock, 'all', column.ruleset)"
          ></td>
        </tr>
        <tr
          *ngFor="
            let anlzdPeriod of stock.analyzedPeriods;
            let periodIndex = index
          "
        >
          <th scope="row">
            <a
              class="btn btn-secondary"
              (click)="updatePeriod(anlzdPeriod, stock)"
              >📡</a
            >
            <a class="btn btn-dark" (click)="removePeriod(anlzdPeriod, stock)"
              >-</a
            >
          </th>
          <td class="faded">
            {{ stock.name }}
          </td>
          <td class="faded">
            {{ stock.ticker }}
          </td>
          <td class="faded">
            {{ enumToString(stock.sector) }}
          </td>
          <td class="faded">
            {{ enumToString(stock.industry) }}
          </td>
          <td class="faded">
            <span *ngFor="let tag of stock.tags; let tagN = index">{{
              tagN > 0 ? ", " + tag : tag
            }}</span>
          </td>
          <td
            [class.not-filled]="
              anlzdPeriod.priceBefore === undefined ||
              anlzdPeriod.priceBefore === null ||
              anlzdPeriod.priceBefore <= 0
            "
            placement="top"
            ngbTooltip="{{ anlzdPeriod.period.name }} starts on {{
              formatDate(anlzdPeriod.period.startDate)
            }} and ends on {{
              formatDate(anlzdPeriod.period.endDate)
            }}, with an average yearly inflation of {{
              anlzdPeriod.period.yearlyInflation
            }} during that time"
            container="body"
          >
            {{ anlzdPeriod.period.name }}
          </td>
          <td class="bigger">
            {{ formatToTwoDigits(anlzdPeriod.priceBefore) }}
          </td>
          <ng-container *ngIf="!hideMAColumns">
            <td
              *ngFor="let column of dataEntryColumns"
              [class.d-none]="!column.visible"
              [innerHTML]="getCrossing(column.index, column.type, anlzdPeriod)"
            ></td
          ></ng-container>
          <td
            [innerHTML]="
              getPriceAndGrowthWithClass(
                anlzdPeriod.priceBefore,
                anlzdPeriod.lowest
              )
            "
          ></td>
          <td
            [innerHTML]="
              getPriceAndGrowthWithClass(
                anlzdPeriod.priceBefore,
                anlzdPeriod.priceSixMonths
              )
            "
          ></td>
          <td
            [innerHTML]="
              getPriceAndGrowthWithClass(
                anlzdPeriod.priceBefore,
                anlzdPeriod.priceTwoYears
              )
            "
          ></td>
          <td [innerHTML]="getGrowthWithClass(anlzdPeriod.periodGrowth)"></td>
          <td
            *ngFor="let column of rulesetColumns"
            class="results"
            [innerHTML]="getAnalysisResults(stock, anlzdPeriod, column.ruleset)"
          ></td>
        </tr>
      </ng-container>
      <tr>
        <th scope="row">
          <a class="btn btn-primary" (click)="addStock()">+</a>
        </th>
        <td>
          <span class="form-group" style="display: inline-block">
            <input
              id="stockname"
              name="stockname"
              style="display: inline-block"
              type="text"
              placeholder="Stock name"
              class="form-control input-md"
              [value]="newStock.name"
              (keyup)="updateCurrentName($event)"
            />
          </span>
        </td>
        <td>
          <span class="form-group">
            <input
              id="stockticker"
              name="stockticker"
              type="text"
              placeholder="Stock ticker"
              class="form-control input-md"
              [value]="newStock.ticker"
              (keyup)="updateCurrentTicker($event)"
            />
          </span>
        </td>
        <td>
          <select class="form-control" (change)="selectCurrentSector($event)">
            <option value="" disabled>Choose a sector</option>
            <option *ngFor="let sector of getSectors()" [value]="sector">
              {{ enumToString(sector) }}
            </option>
          </select>
        </td>
        <td>
          <select class="form-control" (change)="selectCurrentIndustry($event)">
            <option value="" disabled>Choose an industry</option>
            <option *ngFor="let industry of getIndustries()" [value]="industry">
              {{ enumToString(industry) }}
            </option>
          </select>
        </td>
        <td>
          <input
            id="currenttag"
            type="text"
            placeholder="Tag"
            class="col-10 form-control"
            [value]="currentTag"
            (keyup)="updateCurrentTag($event)"
          />
          <div class="col-2 pl-1">
            <a class="btn btn-info" (click)="addTag()">+</a>
          </div>

          <shared-closable-tag
            class="col-12 py-3"
            [tags]="toTags()"
            (change)="updateTags($event)"
          ></shared-closable-tag>
        </td>
        <td></td>
        <td></td>
        <ng-container *ngIf="!hideMAColumns">
          <td
            *ngFor="let column of dataEntryColumns"
            [class.d-none]="!column.visible"
          ></td
        ></ng-container>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td *ngFor="let column of rulesetColumns" class="results"></td>
      </tr>
    </tbody>
  </table>
</div>
