/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  background-color: darkslategray;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

input {
  min-height: 30px;
}

.btn-link {
  color: black;
}

.card {
  background-color: #c9ccd1;
  scrollbar-color: #5d7377 #a8a8a8;
}

.nav-tabs {
  background-color: darkgray;
}

.nav-item {
  background-color: gainsboro;
}

.control-label {
  margin-bottom: 0;
}

.form-text {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.neg-price {
  color: #c21e1e;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.neutral-price {
  color: #cf5c0f;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-one-price {
  color: #bd911a;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-two-price {
  color: #a2a513;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-three-price {
  color: #73ac09;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-four-price {
  color: #2ab300;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-five-price {
  color: #00b60f;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.cros-thirteen {
  color: #20d4d4;
}

.cros-thirty {
  color: #daa515;
}

.cros-fifty {
  color: #c783ee;
}

.cros-hundred {
  color: #f06262;
}

.cros-hundred-and-fifty {
  color: #b1b6be;
}

.cros-two-hundred {
  color: #4be057;
}

.smaller {
  font-size: 0.8em;
}

.keep-size {
  font-size: 1em;
}

.bigger {
  font-size: 1.1em;
}

.nav-item {
  cursor: pointer;
}

.black > .progress > .progress-bar {
  color: black;
  text-shadow: 1px 0px 5px #fff;
}

.progress-bar {
  color: white;
  text-shadow: 1px 0px 5px black;
}

.table {
  background-color: #faf5f5;
  text-align: center;
}

.table th,
.table td {
  max-width: 154px;
}

thead > tr > th,
tbody > tr > th,
tbody > tr > td {
  padding: 0.5em;
  min-width: 54px;
}

tbody > tr > th,
tbody > tr > td {
  vertical-align: middle;
}

thead > tr > th {
  background-color: rgb(90, 86, 86);
  color: white;
  border: none;
}

.sortable {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable] {
  @extend .sortable;
}

th[sortable].asc:before,
th[sortable].desc:before {
  content: "";
  display: block;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC")
    no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.faded {
  opacity: 0.3;
}

.results {
  background-color: #d7dadd60;
}

.global-results {
  background-color: #cddff160;
}

.not-filled {
  font-style: italic;
  opacity: 0.8;
}
