/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  background-color: darkslategray;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}

input {
  min-height: 30px;
}

.btn-link {
  color: black;
}

.card {
  background-color: #c9ccd1;
  scrollbar-color: #5d7377 #a8a8a8;
}

.nav-tabs {
  background-color: darkgray;
}

.nav-item {
  background-color: gainsboro;
}

.control-label {
  margin-bottom: 0;
}

.form-text {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.neg-price {
  color: #c21e1e;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.neutral-price {
  color: #cf5c0f;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-one-price {
  color: #bd911a;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-two-price {
  color: #a2a513;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-three-price {
  color: #73ac09;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-four-price {
  color: #2ab300;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.pos-five-price {
  color: #00b60f;
  font-weight: 800;
  text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.cros-thirteen {
  color: #20d4d4;
}

.cros-thirty {
  color: #daa515;
}

.cros-fifty {
  color: #c783ee;
}

.cros-hundred {
  color: #f06262;
}

.cros-hundred-and-fifty {
  color: #b1b6be;
}

.cros-two-hundred {
  color: #4be057;
}

.smaller {
  font-size: 0.8em;
}

.keep-size {
  font-size: 1em;
}

.bigger {
  font-size: 1.1em;
}

.nav-item {
  cursor: pointer;
}
