<div class="card text-white bg-secondary">
  <div class="card-body">
    <div class="card-title">
      <h5 class="d-inline">Json data</h5>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <p class="d-inline">Where we can put or retreive data in json format.</p>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <a class="d-inline btn btn-info" role="button" (click)="switchLogging()"
        >Json logs {{ jsonLog ? "on" : "off" }}</a
      >
    </div>
    <div class="card-text">
      <input
        type="text"
        [(ngModel)]="jsonContent"
        class="css-input w-100"
        (input)="onChange($event)"
      />
    </div>
  </div>
</div>
